/*

Green: #538d4e
Yellow: #b59f3b
Light Gray: #818384
Dark Gray: #3a3a3c
Black: #121213

*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* holds everything */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* BEGIN - guess board grid */
.board-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  flex: 1;
}

div.guess-board {
  width: 100%;
  height: 100%;
}

div.guess-row {
  padding: 0;
    margin: 0;
    list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
}

div.guessletter {
  background-color: #3a3a3c;
  height: auto;
  margin: 5px;
  display: flex;
  flex: 1 1 0px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

div.guessletter::before {
  content:'';
  float:left;
  padding-top:100%;
}

div.guessletter.not-submitted {
  background-color: transparent;
}

div.guessletter.present {
  background-color: #b59f3b;
}

div.guessletter.correct {
  background-color: #538d4e;
}

div.guessletter.not-submitted {
  border: 1px white solid;
}
/* END - guess board grid */

/* BEGIN - keyboard */
.keyboard-container {
  display: flex;
  flex-direction: row;
  user-select: none;
  max-width: 500px;
  width: 100%;
  text-align: center;
  /*flex: 1 1 auto;*/
  align-self: center;
}
.keyboard {
  flex: 1;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
  touch-action: manipulation;
}

.keyboard-button {
  background-color: #818384;
  color: white;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px 0 3px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

  .keyboard-button.control {
    flex: 1.5;
    font-size: 12px;
  }
  .keyboard-button.unavailable {
    background-color: #3a3a3c;
  }
  .keyboard-button.present{
    background-color: #b59f3b;
  }
  .keyboard-button.correct {
    background-color: #538d4e;
  }
/* END - keyboard */


.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.statistics {
  display: flex;
}

.statistic {
  flex: 1;
}

.statistic .val {
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}

.statistic .label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #121213;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  height: 80vh;
  width: 80vw;
  position:fixed;
  background: #121213;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.icon-yellow {
  color: #b59f3b;
}

.icon-green {
  color: #538d4e;
}

.icon-dark-grey {
  color: #3a3a3c;
}

.icon-light-grey {
  color: #818384;
}

.icon-white {
  color: #fff;
}