/*

Green: #538d4e
Yellow: #b59f3b
Light Gray: #818384
Dark Gray: #3a3a3c
Black: #121213

*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.keyboard {
  margin: 0 8px;
  user-select: none;
  position: fixed;
  bottom: 0;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-button {
  background-color: #818384;
  color: white;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
  .keyboard-button.letter {
    width: 36px;
    height: 36px;
  }
  .keyboard-button.control {
    flex: 1.5;
    font-size: 12px;
  }
  .keyboard-button.unavailable {
    background-color: #3a3a3c;
  }
  .keyboard-button.present{
    background-color: #b59f3b;
  }
  .keyboard-button.correct {
    background-color: #538d4e;
  }


div.guess-board {
  width: fit-content;
  justify-self: center;
  vertical-align: top;
}

div.guess-row {
  justify-content: left;
}

div.guessletter {
  background-color: #3a3a3c;
  font-size: 72px;

  width: 3rem;
  max-width: 3rem; 
  height: 3rem;
  max-height: 3rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /*line-height: 2rem;
  font-weight: bold;*/
  vertical-align: middle;
  box-sizing: border-box;
  /*color: var(--tile-text-color);*/
  text-transform: uppercase;
  user-select: none;

  margin: 2px;
}

div.guessletter.not-submitted {
  background-color: transparent;
}

div.guessletter.present {
  background-color: #b59f3b;
}

div.guessletter.correct {
  background-color: #538d4e;
}

div.guessletter.not-submitted {
  border: 1px white solid;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.statistics {
  display: flex;
}

.statistic {
  flex: 1;
}

.statistic .val {
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}

.statistic .label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #121213;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  height: 80vh;
  width: 80vw;
  position:fixed;
  background: #121213;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.icon-yellow {
  color: #b59f3b;
}

.icon-green {
  color: #538d4e;
}

.icon-dark-grey {
  color: #3a3a3c;
}

.icon-light-grey {
  color: #818384;
}

.icon-white {
  color: #fff;
}