.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn.keyboard-button {
  display: inline-block;
  width: 36px;
  height: 36px;
}
  .btn.keyboard-button.letter {
    width: 36px;
    height: 36px;
  }
  .btn.keyboard-button.control {
    width: 72px;
    height: 36px;
  }
  .btn.keyboard-button.unavailable {
    background-color: black;
  }
  .btn.keyboard-button.present{
    background-color: goldenrod;
  }
  .btn.keyboard-button.correct {
    background-color: green;
  }

div.guessletter {
  background-color: black;
  font-size: 72px;

  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
}

div.guessletter.not-submitted {
  background-color: transparent;
}

div.guessletter.present {
  background-color: goldenrod;
}

div.guessletter.correct {
  background-color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
